[Unit]
Description=dowhen
After=doto.service

[Service]
Type=simple
User=dowhen
Group=dowhen
ExecStart=/home/dowhen/.local/share/pipx/venvs/dowhen/bin/python -m dowhen daemon

[Install]
WantedBy=multi-user.target
